body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #F7F1F0;

}
h1 {
    text-align: center;
    color: #C3A6A0;

}
form {
    max-width: 600px;
    margin: auto;
    background-color: #C3A6A0;
    border-radius: 8px;
    box-shadow: 0 4px 8x rgba(0,0,0,0.5);
    padding: 20px
}
fieldset{
    border: 2px solid #4e3d52;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F7F1F0
}
legend {
    font-weight: bold;
    text-align: center;
    color:black
}
label{
    display: list-item;
    margin-top: 10px;
    color: #4e3d52;
}
input,textarea{
    width: calc (100%-1px);
    padding: 8px;
    margin-top: 4px;
    border:1 px solid #34013f;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    display:block;
    width: 100px;
    padding:10px;
    background-color: #F7F1F0;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
#resumeOutput {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border:2px solid #C3A6A0;
    border-radius: 8px;
    background-color: #F7F1F0;
    box-shadow:0 4px 8x rgba(0,0,0,0.5); 
}
#resumeOutput h2 {
    color: #C3A6A0;
}